*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: rgba(171, 169, 248, 1); 
    justify-content: center;
}

.cardMarco{
    height: 85vh;
    width: 85vw;
    background-color: rgb(13, 13, 173);
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardLogo{
    width: 120%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

.logo {
    width: 80%;
    height: auto;
    background-color: #fcf6f6;
}

.cardForm{
    height: 100%;
    width: 80%;
    background-color: rgb(214, 214, 235);
    background-repeat: no-repeat;
    background-size: 115%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    color: black;
    padding-top: 10px;
    padding-bottom: 50px;
}

.cardForm h2{
    margin-top: 20px;
    font-size: 30px;
    padding-bottom: 1px;
    background-color: rgba(250, 235, 215, 0);
}

.user {
    height: 40px;
    margin-left: 5px;
    margin-right: -40px;
    background-color: rgb(255, 255, 255);
}

.input_user{
    color: black;
    margin-top: 30px;
    margin-bottom: 15px;
    background-color: rgb(214, 214, 235);
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;  
}

.password {
    margin-bottom: -11px;
    padding-left: 8px;
    height: 40px;
    margin-right: -40px;
    background-color: rgb(255, 255, 255);
    
}

.input_pass{
    color: black;
    margin-bottom: 15px;
    background-color: rgb(214, 214, 235);
}


.inputs{
    height: 40px;
    width: 350px;
    font-size: 25px;
    background-color: white;
    margin-left: 40px;
    border: none;
    padding-left: 20px;
    color: #000000;
}

.cardCrear {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    background-color: rgba(0, 255, 255, 0);  
}


.PrincipalInicio h1 {
    color: white;
    margin-top: -135px;
    font-family: 'Dancing Script', cursive;
    font-size: 100px;
    color: rgb(0, 0, 0);
}






