.btnFacebook{
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px;
    background-color: rgba(156, 153, 236, 0.43);
    font-size: 25px;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 8%;
    cursor: pointer;
}


.btnFacebook:hover{
    background-color: rgba(139, 137, 211, 0.43);
}